@media screen and (max-width:1000px){

    nav{
        flex-direction: column;
    }

    .slider{
        height: 10vh;
    }

    .logo{
        display: inline-block;
        justify-content: center;
        margin: 12px 0;
    }
   nav h2{
        display:flex;
    }

    nav ul{
        justify-content: center;
        justify-content: right;
        align-items:right;
        margin-top: 20vh;
    }

    .search{
        justify-content: center;
    }

    .search input{
        margin: 12px 16px;
    }

    .card-item img{ 
        width: 140px;
    }
}