@media (min-width: 320px) and (max-width: 480px) {

   
    h1{
        font-size: 35px;
        font-family: 'Times New Roman', Times, serif;
    }
    .logo {
        display: inline-block;
        justify-content: center;
        margin: 12px 0;
    }

    /* nav ul {


        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;

    } */
    nav ul li a{
        padding: 0;
    }

    .search {
        display: none;
       
    }


    .cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .lines{
        padding-bottom: 35px;
    }
   
    .my-2 {
        margin: 26px 0;
        text-align: center;
        font-size: 40px;
      }
      .slider img{
        
    margin-top: 10px;
    margin-bottom: 10px;
        width: 50vw;
        background: #f9f9f9;
        opacity: 1;
        /* margin: 12px auto; */
        /* overflow: hidden; */
    }
}